<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.huangyuwei.myapplication">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_login"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".welcome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".center"
            android:screenOrientation="portrait" />
        <activity
            android:name=".laugh.laugh"
            android:label="笑吧" />
        <activity android:name=".link.link" />
        <activity android:name=".talk.talk" />
        <activity android:name=".ask.ask" />
        <activity
            android:name=".laugh.laugh_music_movie"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".laugh.laugh_night_movie"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".talk.talk_group_movie"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".talk.talk_share_movie"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".signup_activity" />
        <activity android:name=".user_profile" />
        <activity android:name=".user_modify" />
        <activity android:name=".link.link_center" />
        <activity android:name=".link.link_economic" />
        <activity android:name=".link.link_foundation" />
        <activity android:name=".link.link_resource" />
        <activity android:name=".link.link_sister" />
        <activity
            android:name=".CameraActivity"
            android:label="@string/title_activity_camera"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".modify_password" />
        <activity android:name=".cure.cure_main" />
        <activity android:name=".cure.cure_show" />
        <activity android:name=".eat.eat_main" />
        <activity android:name=".eat.eat_show" />
        <activity android:name=".mem.self_main" />
        <activity android:name=".mem.mem_body_main" />
        <activity
            android:name=".mem.mem_food_main"
            android:label="@string/title_activity_mem_food_new" />
        <activity android:name=".mem.mood_qa" />
        <activity android:name=".mem.mem_mood_main" />
        <activity android:name=".mem.mem_mine" />
        <activity android:name=".mem.mem_cure" />
        <activity android:name=".mem.mem_cure_main" />
        <activity android:name=".laugh.laugh_fashion_bra" />
        <activity android:name=".laugh.laugh_fashion_hair" />
        <activity android:name=".laugh.laugh_night_message" />
        <activity android:name=".laugh.laugh_night_mind" />
        <activity android:name=".laugh.laugh_night_sleep" />
        <activity android:name=".move.move_main" />
        <activity
            android:name=".move.move_rehab"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".move.move_exercise"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>